* {
	margin: 0;
	padding: 0;
	border-style: border-box;
	font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#landingPage {
  background: url(../images/AlayAllyBannerResized.png) no-repeat bottom center scroll;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 3px 3px #000000;
  font: 'Kalam', cursive;
  padding-top: 70px;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
  color: white;
}

#section01 a {
  padding-top: 70px;
}

#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb01 1.5s infinite;
  animation: sdb01 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb01 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb01 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}